body{
	background: #fff;
	font-family: 'Pretendard-Regular';
}

html > body *{
	color: #282828;
	box-sizing: border-box;
}

.modal-body{
	font-size: 2rem;
}

.line_1{
	width: 100%;
	display: inline-block;
}

.line_1 img{
	padding: 20vw 30vw;
	width: 100%;
}

.first_open{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

.first_open .img{
	width: 100%;
	height: 100%;
	background-image: url("../img/first_page2.png?v=36");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.scroll_info{
	display: flex;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	justify-content:center;
	align-items: center;

	animation-name: fadeOut;
	animation-duration: 2s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
	/*animation-direction: alternate;*/
}
.scroll_info .img{
	border-radius: 50%;
	width: 90vw;
	height: 90vw;
	background-image: url("../img/scroll2.png?v=36");
	background-color: #ffffff;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

/* 전체 영역 */
.wrap{
	max-width: 1024px;
	width: 100%;
	min-height: 1000px;
	margin-top: 90vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	z-index: 1000;
	position: relative;
	background: #ffffff;
}

/* 메인 최상단 이미지 */
.top_main_img{
	width: 100%;
	/*min-height: 80vh;*/
	/*position: relative;*/
	/*background-image: url("../img/top_main_img.jpg");*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/
}

.top_main_img img{
	width: 100%;
}

.invitation_wrap{
	display: inline-block;
	width: 100%;
}

.invitation_text_box{
	width: 100%;
}

.invitation_text_box img{
	width: 100%;
}

.main_desc_1 .main_desc{
	font-size: 2.5em;
}

.main_desc_1{
	width: 100%;
	padding: 9vw;
	line-height: 5em;
}

.font_1{
	font-family: 'KyoboHand';
}

/* 기본 텍스트*/
.text_1{
	color: #282828;
	font-size: 2.5rem;
}

/* 안내 텍스트 */
.text_2{
	color: #282828;
	font-size: 2.5rem;
}

.text_2 .text_min{
	font-size: 0.6em;
}

/* 스크롤 내릴 때 상단 알림 */
.top_fixed_alert{
	line-height: 3em;
	z-index: 10000;
	padding: 2vw 1vw;
	background: rgb(255, 255, 255);
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 1vw 1vw 1vw #efefef;
}

.invitation_text{
	line-height: 2.2em;
	font-size: 2.2em;
}

.parent_name{
	font-size: 1em;
	width: 29vw;
	display: inline-block;
}

.name_center{
	font-size: 0.7em;
	display: inline-block;
}

.we_name{
	font-size: 1em;
	display: inline-block;
}

.chode_img_wrap{
	text-align: center;
}

.chode_img{
	margin-left: 5%;
	width: 90%;
	display: inline-block;
}

.phone_box{
	display: flex;
	align-items: center;
}
.phone_text{
	margin-top: -1em;
}
.phone_text img{
	width: 100%;
}
/*.phone_icon{*/
/**/
/*}*/
.phone_icon img{
	width: 100%;
}

.cal{
	position: relative;
	background: #fffaf6;
	text-align: center;
	padding: 3vw 3vw 10vw;
}
.cal_img{
	width: 95%;
	display: inline-block;
}

.cal .text_1{
	font-size: 3em;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 6%;
	left: 0;
}

/* 갤러리 */
.gallery_wrap{
	overflow: hidden;
	width: 100%;
}
.swiper {
	width: 70vw;
	height: 100vw;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1em;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}

.swiper-slide a{
	width: 100%;
}

.swiper-slide img{
	width: 100%;
}

.swiper-slide:nth-child(1n) {
	background-color: rgb(222, 194, 194);
}

.swiper-slide:nth-child(2n) {
	background-color: rgb(215, 227, 234);
}

.swiper-slide:nth-child(3n) {
	background-color: rgb(217, 232, 228);
}

.swiper-slide:nth-child(4n) {
	background-color: rgb(231, 222, 217);
}

.swiper-slide:nth-child(5n) {
	background-color: rgb(217, 224, 207);
}

.swiper-slide:nth-child(6n) {
	background-color: rgb(222, 206, 208);
}

.swiper-slide:nth-child(7n) {
	background-color: rgb(213, 225, 211);
}

/*.swiper-slide:nth-child(8n) {*/
/*	background-color: rgb(0, 68, 255);*/
/*}*/

/*.swiper-slide:nth-child(9n) {*/
/*	background-color: rgb(218, 12, 218);*/
/*}*/

/*.swiper-slide:nth-child(10n) {*/
/*	background-color: rgb(54, 94, 77);*/
/*}*/

/* 맵 지도 */
.map_info_wrap{
	padding: 2vw;
	text-align: left;
	background: #faf7f4;
	position: relative;
}
.map_info_wrap .text_2{
	font-size: 2em;
	color: #606060;
}
.map_info_wrap .title{
	padding-bottom: 0.1vw;
	float: left;
	width: 100%;
}
.map_wrap{
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.in_map{
	width: 95%;
	display: inline-block;
}
.in_map img{
	width: 100%;
}
.copy_btn{
	text-align: center;
	width: 10vw;
	position: absolute;
	right: 5em;
	top: 1em;
}
.copy_text{
	display: inline-block;
	font-size: 1.5em;
	text-align: center;
}
.location_wrap{
	padding: 1vw;
}
.location_wrap img{
	width: 100%;
}
.location_box{
	line-height: 1.5em;
	text-align: left;
	font-size: 1em;
	margin-bottom: 2vw;
}
.location_box b{
	font-size: 1em;
	padding-bottom: 1vw;
	display: inline-block;
}
.location_box p{
	padding-left: 1vw;
	/*margin-bottom: 0.5vh;*/
	font-size: 0.8em;
}

.footer_wrap{
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	width: 100%;
	background: #333334;
}

.link_btn{
	margin-top: 10vw;
	margin-bottom: 10vw;
	width: 30vw;
	display: inline-block;
}
.link_btn img{
	width: 100%;
}
.kakao_link_btn{
	margin-top: 10vw;
	margin-bottom: 10vw;
	width: 30vw;
	display: inline-block;
}
.kakao_link_btn img{
	width: 100%;
}

.cash_title{
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	padding-bottom: 10vw;
}
.cash_1{
	font-size: 2.5em;
}
.cash_img{
	text-align: center;
	width: 100%;
	margin-bottom: 5vw;
}
.cash_img img{
	display: inline-block;
	width: 90%;
}
.cash_box2{
	width: 100%;
	display: inline-block;
}
input[name='cache_number']{
	border: 1px solid #c0c0c0;
	display: inline-block;
	text-align: center;
	font-size: 1em;
	height: 2em;
}
.copy_cash{
	height: 2em;
	display: inline-block;
	line-height: 2em;
	padding: 0 1em;
	background: #18a7f0;
	color: #fff;
}
.copy_cash_2{
	height: 2em;
	display: inline-block;
	line-height: 2em;
	padding: 0 1em;
	background: #18a7f0;
	color: #fff;
}
.cash_bank{
	margin-bottom: 1em;
	width: 100%;
}
.cash_info{
	display: inline-block;
}